@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "CalSans-SemiBold";
  src: url("./fonts/CalSans-SemiBold.woff") format("woff"), url("./fonts/CalSans-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
/* DM Sans Regular */
@font-face {
  font-family: "DM Sans";
  src: url("./fonts/DM_Sans/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
/* DM Sans Italic */
@font-face {
  font-family: "DM Sans";
  src: url("./fonts/DM_Sans/DMSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
/* DM Sans Medium */
@font-face {
  font-family: "DM Sans";
  src: url("./fonts/DM_Sans/DMSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
/* DM Sans Bold */
@font-face {
  font-family: "DM Sans";
  src: url("./fonts/DM_Sans/DMSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
/* DM Sans Bold Italic */
@font-face {
  font-family: "DM Sans";
  src: url("./fonts/DM_Sans/DMSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #ffffff;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(252, 41, 41);
  border-radius: 20px;
  border: 3px solid #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.spinner__text {
  color: rgb(252, 49, 49);
  padding-right: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.spinner-border {
  margin-left: 20px;
}

.product_card {
  border-radius: 30px !important;
  margin: 0;
  box-shadow: none;
  padding: 0 !important;
  font-family: "Montserrat", sans-serif;
}
.product_card .subtitle_card {
  color: rgb(187, 36, 48);
}
.product_card .title_card:hover {
  color: rgb(202, 42, 56);
}
.product_card .img_card {
  border-top-right-radius: 30px !important;
  border-top-left-radius: 30px !important;
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: none;
}
.product_card .price_card {
  text-transform: uppercase;
  color: rgb(202, 42, 56);
  font-weight: bold;
  font-size: 20px;
}
.product_card .btn_cart_out {
  border-radius: 50%;
  background: none;
  border: 1px solid rgb(0, 0, 0);
  color: black;
  margin-right: 10px;
}
.product_card .btn_cart_out:hover {
  border: 1px solid rgb(30, 185, 69);
  color: rgb(30, 185, 69);
}
.product_card a {
  text-decoration: none;
  color: black;
}
.product_card .btn_cart_in {
  border-radius: 50%;
  background: none;
  border: 1px solid rgb(30, 185, 69);
  color: rgb(30, 185, 69);
  margin-right: 10px;
}
.product_card .btn_cart_in:hover {
  border: 1px solid rgb(0, 0, 0);
  color: black;
}
.product_card .btn_like_out {
  border-radius: 50%;
  background: none;
  border: 1px solid rgb(0, 0, 0);
  color: black;
}
.product_card .btn_like_out:hover {
  border: 1px solid rgb(185, 30, 30);
  color: rgb(185, 30, 30);
}
.product_card .btn_like_in {
  border-radius: 50%;
  background: none;
  border: 1px solid rgb(185, 30, 30);
  color: rgb(185, 30, 30);
}
.product_card .btn_like_in:hover {
  border: 1px solid rgb(0, 0, 0);
  color: black;
}/*# sourceMappingURL=productItem.css.map */